<div id="contAboutMe">
  <div id="principalAbout">
    <div class="title">
      <div class="contain uno">
        <div class="titleAbout">
          <div class="text">
            <div class="typewriter">
              <h3>About</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contain dos">
      <div class="bodyText uno">
        <div id="experience">
          <div class="textExp">
            <h3>experience</h3>
          </div>
        </div>
        <div class="info uno">
          <div class="title">
            <h3>ALTEN Canada</h3>
          </div>
          <div class="inf">
            <p>Montréal, Canada | April, 2019 - Current</p>
          </div>
          <div class="parraf">
            <p>
              Full stack web development for investment banking services with
              emphasis on React.js, Angular, .NET Core based solutions using
              Test Driven Development methodology.
            </p>
          </div>
        </div>
        <div class="info dos">
          <div class="title">
            <h3>Ubiquiti Networks Ltd.</h3>
          </div>
          <div class="inf">
            <p>Riga, Latvia | December, 2017 - April, 2019</p>
          </div>
          <div class="parraf">
            <p>
              Full-stack web development work with emphasis on Node.js and
              React.js based solutions.
            </p>
          </div>
        </div>
        <div class="info tres">
          <div class="title">
            <h3>Scandiweb Ltd.</h3>
          </div>
          <div class="inf">
            <p>Riga, Latvia | September, 2012 - February, 2013</p>
          </div>
          <div class="parraf">
            <p>
              Front-end development for retail stores, Magento MVC framework
              integration.
            </p>
          </div>
        </div>
      </div>
      <div class="bodyText dos">
        <div id="education">
          <div class="textEduca">
            <h3>education</h3>
          </div>
        </div>
        <div class="infoEd uno">
          <div class="title">
            <h3>Master's degree - Computer Vision</h3>
          </div>
          <div class="inf">
            <p>Riga Technical University</p>
          </div>
          <div class="inf2">
            <p>September, 2013 - May, 2016</p>
          </div>
          <div class="parraf">
            <p>
              Studies included understanding of different computer vision
              algorithms and their implementation in practice. Subjects also
              included 3D modeling and projection theory.
            </p>
          </div>
        </div>
        <div class="infoEd dos">
          <div class="title">
            <h3>Barchelor's Degree - Computer Science</h3>
          </div>
          <div class="inf">
            <p>Riga Technical University</p>
          </div>
          <div class="inf2">
            <p>September, 2010 - May, 2013</p>
          </div>
          <div class="parraf">
            <p>
              Studies included fundamental computer science subjects such as
              software & hardware architecture and development. Also an emphasis
              on automation techniques.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
