<div id="PageCharge">
    <div id="contenedor">
        <div class="bloque"></div>
        <div class="bloque"></div>
        <div class="bloque"></div>
        <div class="bloque"></div>
    </div>
</div>