
<div id="pageContact">
    <div class="title">
        <div class="contain uno">
            <div class="titleAbout">
                <div class="text">
                    <div class="typewriter">
                        <h3>Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contenido">
          <div class="registro grid-3-row">
            
            <div class="cajas">
              <div class="nombre">
                <div class="leftFlex">
                <input class="nombreCajas" placeholder="Ingrese su Nombre completo">
                </div>
              </div>
              <div class="leftFlex">
                <div class="correo">
                  <input class="correoCajas" placeholder="Ingrese su Correo">
                </div>
              </div>
              <div class="leftFlex">
                <div class="mensaje">
                  <input class="mensajeCajas" placeholder="Ingrese su Mensaje">
                </div>
              </div>
              <div class="centrarFlex">
                <button>Enviar</button>
              </div>
            </div>
            <div class="redes">
              <div class="cantidadImg centrarFlex">
                <div class="centrarFlex">
                  <div class="contenidoImg">
                    <div class="faceb">
                      <img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-2-1.png"
                        alt="" />
                    </div>
                  </div>
                </div>
                <div class="centrarFlex">
                  <div class="contenidoImg">
                    <div class="ista">
                      <img src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo-6.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="centrarFlex">
                  <div class="contenidoImg">
                    <div class="twt">
                      <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-2-1.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="centrarFlex">
                  <div class="contenidoImg">
                    <div class="lk">
                      <img src="https://www.flaticon.es/svg/static/icons/svg/174/174857.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>