<div id="pageDeveloping">
    <div class="title">
        <div class="contain uno">
            <div class="titleAbout">
                <div class="text">
                    <div class="typewriter">
                        <h3>Developing</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="colum">
            <div class="flip-card">
                <video controls muted autoplay width="100%">
                    <source src="../../../../r-assets/Devep.mp4" type="video/mp4">
                </video>
                <h1>
                    Developing in angular
                </h1>
                <p>
                    This tutorial goes over deploying an angular application to production, the steps you should take
                    and what basically
                    angular does when you build it using --prod flag
                </p>
            </div>
        </div>
    </div>
    <audio src="../../../../r-assets/cancionFondo.mp3" autoplay loop></audio>
</div>
