<div id="presentation">
  <div class="container">
    <nav class="nav-bar">
      <ul class="nav-bar-items">
        <li>
          <a href="#pageProjects"><span>projects</span></a>
        </li>
        <li>
          <a href="#pageAboutMe"><span>about me</span></a>
        </li>
        <li>
          <a href="#pageDeveloping"><span>developed</span></a>
        </li>
        <li>
          <a href="#pageContact"><span>contact</span></a>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="column">
        <img src="../../../../r-assets/developer.jpg" class="imgAux" />
      </div>
      <div class="column">
        <div class="textBigger"><span>I am</span></div>
        <div id="containerFlip">
          <div id="flip">
            <div><div>Developer</div></div>
            <div><div>Pablo Bejarano</div></div>
            <div><div>Engineer</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
