<div id="pageProjects">
    <div class="title">
        <div class="contain uno">
            <div class="titleAbout">
                <div class="text">
                    <div class="typewriter">
                        <h3>Projects</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="colum">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://programarfacil.com/wp-content/uploads/2015/07/angularjs-asp.jpg" alt="">
                        <h1>
                            Angular
                        </h1>
                    </div>
                    <div class="flip-card-back">
                        <h1>ngx-admin</h1>
                        <br>
                        <p>
                            The first free admin dashboard template on our list is ngx-admin. It is a product by Akveo
                            built
                            with Angular 8,
                            Bootstrap 4 and Nebular 4.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://www.trycatchclasses.com/wp-content/uploads/2020/02/learn-ionic-framework-hybrid-mobile-app-development-mumbai-trycatch-300x300-1.png"
                            alt="">
                        <h1>
                            Ionic
                        </h1>
                    </div>
                    <div class="flip-card-back">
                        <h1>Ionstore</h1>
                        <br>
                        <p>
                            Ionstore is an Ionic WooCommerce Full Application for Android and iOS.
                            We create this app to easily connecting your WooCommerce
                            website with hybrid mobile application (Android & iOS).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="colum">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://www.secret-source.eu/wp-content/uploads/2017/11/node-js-logo.jpg" alt="">
                        <h1>
                            Node JS
                        </h1>
                    </div>
                    <div class="flip-card-back">
                        <h1>Express</h1>
                        <br>
                        <p>
                            Express is one of the most popular Node.js frameworks.
                            Express offers tremendous value since it makes HTTP requests efficient even
                            when you are working with
                            JavaScript, an out-of-browser and server-side language.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR82Q9UHBjGTSijDKA5HwNMmte79Ewm8GTZLw&usqp=CAU"
                            alt="">
                        <h1>
                            Spring Boot
                        </h1>
                    </div>
                    <div class="flip-card-back">
                        <h1>Zathuracode</h1>
                        <br>
                        <p>
                            Zathuracode is a code generator that supports the development of spring-based web
                            applications and micro-services, from
                            an existing database model.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio src="../../../../r-assets/cancionFondo.mp3" autoplay loop></audio>
</div>