$palet1: #f0eaf4;
$palet2: #251738;
$palet3: #24ddd8;
$palet4: #ffa4cd;
$palet5: #f9d673;
$colorFonts: #353b3c;
$colorFonts2: #564787;
$colorFonts3: #9a9e9e;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    #PageCharge {
      display: flex;
      background-color: $palet1;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      position: fixed;
      #contenedor {
        height: 50vh;
        width: 50vh;
        background-color: $palet1;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        .bloque {
          width: 20%;
          height: 20%;
          background-color: $palet2;
          border-radius: 10px;
          animation-name: rotacion;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 1s;
          }
          &:nth-child(3) {
            animation-delay: 1.5s;
          }
          &:nth-child(4) {
            animation-delay: 2s;
          }
        }
        @keyframes rotacion {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(90deg);
          }
        }
      }
    }
    #pageAboutMe {
      width: 100vw;
      height: 100vh;
      background-color: $palet1;
      display: flex;
      justify-content: center;
      align-items: center;
      #principalAbout {
        height: 90vh;
        width: 90vh;
        background-color: $palet1;
        display: flex;
        flex-direction: column;
        .title {
          width: 90vh;
          display: flex;
          flex-direction: column;
          .contain {
            &.uno {
              display: flex;
              width: 100%;
              height: 20%;
              background-color: $palet1;
              flex-direction: column;
              .contenedor-texto .titulo {
                font-size: 50px;
                font-weight: normal;
                margin-bottom: 40px;
              }
              .titleAbout {
                display: flex;
                background-color: $palet1;
                width: 100%;
                height: 50%;
                align-items: center;
                margin-top: 2%;
                .text {
                  margin-left: 3%;
                  font-size: 300%;
                  color: $colorFonts;
                  font-weight: bold;
                  text-decoration: underline $palet2;
                }
                .typewriter h3 {
                  color: $colorFonts;
                  overflow: hidden;
                  border-right: 0.15em solid $palet2;
                  margin: 0 auto;
                  animation: typing 3.5s steps(30, end),
                    blink-caret 0.5s step-end infinite;
                }

                @keyframes typing {
                  from {
                    width: 0;
                  }
                  to {
                    width: 100%;
                  }
                }

                @keyframes blink-caret {
                  from,
                  to {
                    border-color: transparent;
                  }
                  50% {
                    border-color: $palet2;
                  }
                }
              }
            }
          }
        }
        .contain {
          background-color: $palet1;
          &.uno {
            display: flex;
            width: 100%;
            height: 20%;
            background-color: $palet1;
            flex-direction: column;
            .titleAbout {
              display: flex;
              background-color: $palet1;
              width: 100%;
              height: 50%;
              align-items: center;
              margin-top: 2%;
              .text {
                margin-left: 3%;
                font-size: 300%;
                color: $colorFonts;
                font-weight: bold;
              }
            }
            .decor {
              margin-top: 2%;
              height: 3%;
              border: 0;
              background-color: $palet2;
              width: 15%;
              margin-left: 3%;
              border-radius: 5px;
            }
          }
          &.dos {
            display: flex;
            width: 100%;
            height: 80%;
            background-color: $palet1;
            .bodyText {
              height: 100%;
              width: 50%;
              background-color: $palet3;
              &.uno {
                background-color: $palet4;
                display: flex;
                flex-direction: column;
                #experience {
                  display: flex;
                  width: 100%;
                  height: 10%;
                  background-color: $palet1;
                  align-items: center;
                  .textExp {
                    font-size: 240%;
                    margin-left: 5%;
                    color: $palet2;
                    font-weight: bold;
                  }
                }
                .info {
                  display: flex;
                  height: 30%;
                  width: 100%;
                  flex-direction: column;
                  justify-content: center;
                  &.uno {
                    display: flex;
                    background-color: $palet1;
                    .title {
                      margin-left: 10%;
                      font-size: 150%;
                      color: $colorFonts;
                      font-weight: bold;
                    }
                    .inf {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                    }
                    .parraf {
                      margin-left: 10%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts;
                    }
                  }
                  &.dos {
                    background-color: $palet2;
                    display: flex;
                    background-color: $palet1;
                    .title {
                      margin-left: 10%;
                      font-size: 150%;
                      color: $colorFonts;
                      font-weight: bold;
                    }
                    .inf {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                    }
                    .parraf {
                      margin-left: 10%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts;
                    }
                  }
                  &.tres {
                    display: flex;
                    background-color: $palet1;
                    .title {
                      margin-left: 10%;
                      font-size: 150%;
                      color: $colorFonts;
                      font-weight: bold;
                    }
                    .inf {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                    }
                    .parraf {
                      margin-left: 10%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts;
                    }
                  }
                }
              }
              &.dos {
                background-color: $palet5;
                #education {
                  display: flex;
                  width: 100%;
                  height: 10%;
                  background-color: $palet1;
                  align-items: center;
                  .textEduca {
                    font-size: 240%;
                    margin-left: 5%;
                    color: $palet2;
                    font-weight: bold;
                  }
                }
                .infoEd {
                  display: flex;
                  height: 45%;
                  width: 100%;
                  flex-direction: column;
                  justify-content: center;
                  &.uno {
                    display: flex;
                    background-color: $palet1;
                    .title {
                      margin-top: -10%;
                      margin-left: 10%;
                      font-size: 150%;
                      color: $colorFonts;
                      font-weight: bold;
                    }
                    .inf {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                      font-weight: bold;
                    }
                    .inf2 {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                    }
                    .parraf {
                      margin-left: 10%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts;
                    }
                  }
                  &.dos {
                    display: flex;
                    background-color: $palet1;
                    .title {
                      margin-top: -10%;
                      margin-left: 10%;
                      font-size: 150%;
                      color: $colorFonts;
                      font-weight: bold;
                    }
                    .inf {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                      font-weight: bold;
                    }
                    .inf2 {
                      margin-left: 10%;
                      font-size: 130%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts2;
                    }
                    .parraf {
                      margin-left: 10%;
                      margin-top: 1%;
                      margin-bottom: 1%;
                      color: $colorFonts;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #pageProjects {
      width: 100vw;
      height: 100vh;
      background-color: $palet1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        width: 90vh;
        display: flex;
        flex-direction: column;
        .contain {
          &.uno {
            display: flex;
            width: 100%;
            height: 20%;
            background-color: $palet1;
            flex-direction: column;
            .contenedor-texto .titulo {
              font-size: 50px;
              font-weight: normal;
              margin-bottom: 40px;
            }
            .titleAbout {
              display: flex;
              background-color: $palet1;
              width: 100%;
              height: 50%;
              align-items: center;
              margin-top: 2%;
              .text {
                margin-left: 3%;
                font-size: 300%;
                color: $colorFonts;
                font-weight: bold;
                text-decoration: underline $palet2;
              }
              .typewriter h3 {
                color: $colorFonts;
                overflow: hidden;
                border-right: 0.15em solid $palet2;
                margin: 0 auto;
                animation: typing 3.5s steps(30, end),
                  blink-caret 0.5s step-end infinite;
              }

              @keyframes typing {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }

              @keyframes blink-caret {
                from,
                to {
                  border-color: transparent;
                }
                50% {
                  border-color: $palet2;
                }
              }
            }
          }
        }
      }
      .row {
        display: flex;
        width: 80vh;
        height: 100%;
        .colum {
          flex: 50%;
          .flip-card {
            background-color: transparent;
            width: 90%;
            height: 40%;
            margin-bottom: 20%;
            .flip-card-inner {
              position: relative;
              width: 100%;
              height: 100%;
              text-align: center;
              transition: transform 0.6s;
              transform-style: preserve-3d;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }
          }
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
          .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: $palet1;
            transform: rotateY(180deg);
            h1 {
              color: $palet2;
            }
            p {
              color: $colorFonts;
            }
            h1:hover,
            p:hover {
              text-decoration: underline $palet2;
            }
          }
          .flip-card-front {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            img {
              width: 100%;
              height: 100%;
            }
            h1 {
              color: $palet2;
            }
          }
        }
      }
    }
    #pageDeveloping {
      width: 100vw;
      height: 100vh;
      background-color: $palet1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        width: 90vh;
        display: flex;
        flex-direction: column;
        .contain {
          &.uno {
            display: flex;
            width: 100%;
            height: 20%;
            background-color: $palet1;
            flex-direction: column;
            .contenedor-texto .titulo {
              font-size: 50px;
              font-weight: normal;
              margin-bottom: 40px;
            }
            .titleAbout {
              display: flex;
              background-color: $palet1;
              width: 100%;
              height: 50%;
              align-items: center;
              margin-top: 2%;
              .text {
                margin-left: 3%;
                font-size: 300%;
                color: $colorFonts;
                font-weight: bold;
                text-decoration: underline $palet2;
              }
              .typewriter h3 {
                color: $colorFonts;
                overflow: hidden;
                border-right: 0.15em solid $palet2;
                margin: 0 auto;
                animation: typing 3.5s steps(30, end),
                  blink-caret 0.5s step-end infinite;
              }

              @keyframes typing {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }

              @keyframes blink-caret {
                from,
                to {
                  border-color: transparent;
                }
                50% {
                  border-color: $palet2;
                }
              }
            }
          }
        }
      }
      .row {
        display: flex;
        width: 80vh;
        height: 100%;
        .colum {
          flex: 100%;
          .flip-card {
            width: 100%;
            height: 70%;
            margin-bottom: 20%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            h1 {
              color: $palet2;
              margin-bottom: 3%;
            }
            p {
              color: $colorFonts;
            }
          }
        }
      }
    }
    #navbar {
      width: 100vw;
      height: 20vh;
    }
    #presentation {
      width: 100vw;
      height: 100vh;
      background-color: $palet5;
      background: linear-gradient(to right bottom, $palet2 0.3%, $palet1 50%);
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;

        .nav-bar {
          margin-bottom: 5%;
          &-items {
            list-style: none;
            display: flex;
            text-align: left;
            justify-content: flex-end;
            li {
              padding: 20px;
              font-size: 22px;
              transition: hover 0.2s linear;
              cursor: pointer;

              &:hover,
              &:hover > a {
                background-color: #5d737e;
                border-radius: 20px;
                color: #fff;
              }

              a {
                color: #000;
                text-decoration: none;
                transition: hover 0.2s linear;
                i {
                  padding: 10px;
                  display: none;
                }
              }
            }
          }
        }

        .column {
          float: left;
          width: 50%;
          padding: 10px;
          text-align: center;
        }
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
          }
        }
        .textBigger {
          margin-left: 3%;
          font-size: 300%;
          color: $colorFonts2;
          font-weight: bold;
        }
        .progress-bar {
          position: relative;
          width: 500px;
          height: 0.3em;
          background-color: #111;
          border-radius: 1.5em;
          color: white;
        }
        .progress-bar::before {
          content: attr(data-label);
          display: flex;
          align-items: center;
          position: absolute;
          left: 0.5em;
          top: 0.5em;
          bottom: 0.5em;
          width: calc(var(--width, 0) * 1%);
          min-width: 2rem;
          max-width: calc(100% - 1em);
          background-color: #069;
          border-radius: 1em;
          padding: 1em;
        }
        .imgAux {
          width: 100%;
          height: 30%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border-radius: 20px;
        }
      }
      #containerFlip {
        color: #999;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: bold;
        position: relative;
        width: 100%;
        left: 3%;
        #flip {
          height: 100px;
          overflow: hidden;
        }

        #flip > div > div {
          color: #fff;
          padding: 4px 12px;
          height: 80px;
          margin-bottom: 45px;
          border-radius: 10px;
          display: inline-block;
        }

        #flip div:first-child {
          animation: show 5s linear infinite;
        }

        #flip div div {
          background: $palet2;
        }
        #flip div:first-child div {
          background: $palet3;
        }
        #flip div:last-child div {
          background: $palet4;
        }

        @keyframes show {
          0% {
            margin-top: -270px;
          }
          5% {
            margin-top: -270px;
          }
          33% {
            margin-top: -180px;
          }
          38% {
            margin-top: -90px;
          }
          66% {
            margin-top: -90px;
          }
          71% {
            margin-top: 0px;
          }
          99% {
            margin-top: 0px;
          }
          100% {
            margin-top: 0px;
          }
        }
      }
    }
    #pageContact {
      width: 100vw;
      height: 100vh;
      background-color: $palet1;
      background: linear-gradient(to left top, $palet2 0.3%, $palet1 50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        width: 90vh;
        display: flex;
        flex-direction: column;
        .contain {
          &.uno {
            display: flex;
            width: 100%;
            height: 20%;
            background-color: $palet1;
            flex-direction: column;
            .contenedor-texto .titulo {
              font-size: 50px;
              font-weight: normal;
              margin-bottom: 40px;
            }
            .titleAbout {
              display: flex;
              background-color: $palet1;
              width: 100%;
              height: 50%;
              align-items: center;
              margin-top: 2%;
              .text {
                margin-left: 3%;
                font-size: 300%;
                color: $colorFonts;
                font-weight: bold;
                text-decoration: underline $palet2;
              }
              .typewriter h3 {
                color: $colorFonts;
                overflow: hidden;
                border-right: 0.15em solid $palet2;
                margin: 0 auto;
                animation: typing 3.5s steps(30, end),
                  blink-caret 0.5s step-end infinite;
              }

              @keyframes typing {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }

              @keyframes blink-caret {
                from,
                to {
                  border-color: transparent;
                }
                50% {
                  border-color: $palet2;
                }
              }
            }
          }
        }
      }
      .container {
        //padding: 60px 300px;
        padding: 10px 60px;
        width: 100%;
        height: 100%;

        //display: table;

        .contenido {
          width: 100%;
          height: 100%;
          .registro {
            width: 100%;
            height: 100%;
            padding: 10px;

            .cajas {
              width: 100%;
              height: 100%;
              .nombre {
                width: 100%;
              }
              .correo {
                width: 100%;
              }
              .mensaje {
                width: 100%;
                height: 150px;
                .mensajeCajas {
                  height: 100%;
                }
              }
              .nombreCajas,
              .correoCajas,
              .mensajeCajas {
                width: 100%;
                padding: 5px;
                background: white;

                border-radius: 5px;
                color: black;
                margin-bottom: 10px;
                text-align: left;
              }
              button {
                cursor: pointer;
                text-decoration: none;
                padding: 5px 10px;
                font-weight: 600;
                font-size: 20px;
                color: $colorFonts2;
                border-radius: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                margin: 20px;
                opacity: 0.6;
              }
              button:hover {
                opacity: 1;
              }
            }
            .redes {
              width: 100%;
              height: 100%;
              padding: 10px;
              h2 {
                font-size: 4.5rem;
                color: black;
              }
              .cantidadImg {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .contenidoImg {
                  width: 100px;
                  height: 100px;
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .contenidoImg:hover {
        animation: rebote 1s 2;
      }
      @keyframes rebote {
        20%,
        50%,
        70% {
          transform: translateY(0%);
        }
        40% {
          transform: translateY(-45px);
        }
        60% {
          transform: translateY(-25px);
        }
      }

      .grid-3-row {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
      }

      .centrarFlex {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .leftFlex {
        display: flex;
        align-items: center;
        justify-content: left;
      }

      @keyframes maquina {
        from {
          width: 100%;
        }
        to {
          width: 0;
        }
      }
    }
  }
}
